<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="../css/documentation.css" />
        <link rel="stylesheet" href="../css/main.css" />
        <link rel="stylesheet" href="../css/componentStyle.css" />
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
        />
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.1.2/highlight.min.js"
            integrity="sha512-7t8APmYpzEsZP7CYoA7RfMPV9Bb+PJHa9x2WiUnDXZx3XHveuyWUtvNOexhkierl5flZ3tr92dP1mMS+SGlD+A=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
        ></script>
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.1.2/styles/agate.min.css"
            integrity="sha512-dtcZayDwnLWcHMKRgV5S5qk2T4+jz45M89ychxm+Rl9/bA/SiqD59y9ZNoMVDFo7Hnss/O8MruCqWLL5yDv/aQ=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
        />
        <script>
            hljs.initHighlightingOnLoad();
        </script>
        <title>nativeBase-ui</title>
    </head>
    <body>
        <div class="wrapper">
            <nav>
                <ul>
                    <a href="../index.html"><li>Home</li></a>
                    <a href="#"><li>Docs</li></a>
                </ul>
            </nav>
            <main class="documentation-main">
                <aside>
                    <ul>
                        <a href="./gettingStarted.html">Getting started</a>
                        <a href="./alert.html">Alert</a>
                        <a href="./avatar.html">Avatar</a>
                        <a href="./button.html">Button</a>
                        <a href="./badge.html">Badge</a>
                        <a href="./card.html">Card</a>
                        <a href="./image.html">Image</a>
                        <a href="./input.html">Input</a>
                    </ul>
                </aside>
                <div class="content">
                    <!-- Getting started -->
                    <h3 class="font-lg heading-color">Alert</h3>
                    <p class="font-md">
                        Provide a user friendly Alert skeleton which you can used to display message so that user can
                        able to see after interaction to understand what happen.
                    </p>
                    <h4 class="font-md heading-color">Standard Alert</h4>
                    <div class="standard-alert">
                        <div class="alert alert-success">A simple success Alert</div>
                        <div class="alert alert-danger">A simple danger Alert</div>
                        <div class="alert alert-warning">A simple warning Alert</div>
                        <div class="alert alert-info">A simple info Alert</div>
                    </div>
                    <pre class=""><code class="html">
            &lt;div class="alert alert-success">A simple success Alert&lt;/div>
            &lt;div class="alert alert-danger">A simple danger Alert&lt;/div>
            &lt;div class="alert alert-warning">A simple warning Alert&lt;/div>
            &lt;div class="alert alert-info">A simple info Alert&lt;/div>
                    </code></pre>

                    <h4 class="font-md heading-color">Alert with icons</h4>
                    <div class="standard-alert">
                        <div class="alert alert-success">
                            <i class="fa fa-check-circle"></i> A simple success Alert with icon
                        </div>
                        <div class="alert alert-danger">
                            <i class="fa fa-exclamation-triangle"></i>A simple danger Alert with icon
                        </div>
                        <div class="alert alert-warning">
                            <i class="fa fa-exclamation-triangle"></i>A simple warning Alert with icon
                        </div>
                        <div class="alert alert-info">
                            <i class="fa fa-exclamation-circle"></i>A simple info Alert with icon
                        </div>
                    </div>
                    <pre class=""><code class="html">
            &lt;div class="alert alert-success">&lt;i class="fa fa-check-circle">&lt;/i>A simple success Alert&lt;/div>
            &lt;div class="alert alert-danger">&lt;i class="fa fa-check-circle">&lt;/i>A simple danger Alert&lt;/div>
            &lt;div class="alert alert-warning">&lt;i class="fa fa-check-circle">&lt;/i>A simple warning Alert&lt;/div>
            &lt;div class="alert alert-info">&lt;i class="fa fa-check-circle">&lt;/i>A simple info Alert&lt;/div>
                                </code></pre>
                    <div class="next-prev-page-option">
                        <a href="./avatar.html"><h4>Avatar &gt;</h4></a>
                        <a href="./gettingStarted.html"><h4>&lt; Usage</h4></a>
                    </div>
                </div>
            </main>
        </div>
    </body>
</html>
