<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="../css/documentation.css" />
        <link rel="stylesheet" href="../css/main.css" />
        <link rel="stylesheet" href="../css/componentStyle.css" />
        <!-- font-awesome -->
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
        />
        <!-- highlight.js -->
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.1.2/highlight.min.js"
            integrity="sha512-7t8APmYpzEsZP7CYoA7RfMPV9Bb+PJHa9x2WiUnDXZx3XHveuyWUtvNOexhkierl5flZ3tr92dP1mMS+SGlD+A=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
        ></script>
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.1.2/styles/agate.min.css"
            integrity="sha512-dtcZayDwnLWcHMKRgV5S5qk2T4+jz45M89ychxm+Rl9/bA/SiqD59y9ZNoMVDFo7Hnss/O8MruCqWLL5yDv/aQ=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
        />
        <script>
            hljs.initHighlightingOnLoad();
        </script>
        <title>nativeBase-ui</title>
    </head>
    <body>
        <div class="wrapper">
            <nav>
                <ul>
                    <a href="../index.html"><li>Home</li></a>
                    <a href="#"><li>Docs</li></a>
                </ul>
            </nav>
            <main class="documentation-main">
                <aside>
                    <ul>
                        <a href="./gettingStarted.html">Getting started</a>
                        <a href="./alert.html">Alert</a>
                        <a href="./avatar.html">Avatar</a>
                        <a href="./button.html">Button</a>
                        <a href="./badge.html">Badge</a>
                        <a href="./card.html">Card</a>
                        <a href="./image.html">Image</a>
                        <a href="./input.html">Input</a>
                    </ul>
                </aside>
                <div class="content">
                    <!-- Getting started -->
                    <h3 class="font-lg heading-color">Avatar</h3>
                    <p class="font-md">
                        Provide a user friendly avatar skeleton which you can used to display your profile or image.
                    </p>
                    <h4 class="font-md heading-color">Standard Avatars</h4>
                    <div class="standard-avatar">
                        <figure class="avatar avatar-xlg">
                            <img
                                src="https://media.istockphoto.com/photos/portrait-of-businessman-smiling-against-wall-picture-id878395336?b=1&k=20&m=878395336&s=170667a&w=0&h=E-jyj95oWVLjVMTCf6z7umTa4MTy9gIJyU0a9phsflE="
                                alt=""
                            />
                        </figure>
                        <figure class="avatar avatar-lg">
                            <img
                                src="https://media.istockphoto.com/photos/portrait-of-businessman-smiling-against-wall-picture-id878395336?b=1&k=20&m=878395336&s=170667a&w=0&h=E-jyj95oWVLjVMTCf6z7umTa4MTy9gIJyU0a9phsflE="
                                alt=""
                            />
                        </figure>
                        <figure class="avatar avatar-md">
                            <img
                                src="https://media.istockphoto.com/photos/portrait-of-businessman-smiling-against-wall-picture-id878395336?b=1&k=20&m=878395336&s=170667a&w=0&h=E-jyj95oWVLjVMTCf6z7umTa4MTy9gIJyU0a9phsflE="
                                alt=""
                            />
                        </figure>
                        <figure class="avatar avatar-sm">
                            <img
                                src="https://media.istockphoto.com/photos/portrait-of-businessman-smiling-against-wall-picture-id878395336?b=1&k=20&m=878395336&s=170667a&w=0&h=E-jyj95oWVLjVMTCf6z7umTa4MTy9gIJyU0a9phsflE="
                                alt=""
                            />
                        </figure>
                    </div>
                    <pre class=""><code class="html">
            &lt;figure class="avatar avatar-xlg">&lt;img src="..." alt="..."/&gt;&lt;/figure>
            &lt;figure class="avatar avatar-lg">&lt;img src="..." alt="..."/&gt;&lt;/figure>
            &lt;figure class="avatar avatar-md">&lt;img src="..." alt="..."/&gt;&lt;/figure>
            &lt;figure class="avatar avatar-sm">&lt;img src="..." alt="..."/&gt;&lt;/figure>

                    </code></pre>
                    <h4 class="font-md heading-color">Avatars with status</h4>
                    <p class="font-md">You can also display status for avatar like online offilien and DND</p>
                    <div class="standard-avatar">
                        <figure class="avatar avatar-xlg online">
                            <img
                                src="https://media.istockphoto.com/photos/portrait-of-businessman-smiling-against-wall-picture-id878395336?b=1&k=20&m=878395336&s=170667a&w=0&h=E-jyj95oWVLjVMTCf6z7umTa4MTy9gIJyU0a9phsflE="
                                alt=""
                            />
                        </figure>
                        <figure class="avatar avatar-lg offline">
                            <img
                                src="https://media.istockphoto.com/photos/portrait-of-businessman-smiling-against-wall-picture-id878395336?b=1&k=20&m=878395336&s=170667a&w=0&h=E-jyj95oWVLjVMTCf6z7umTa4MTy9gIJyU0a9phsflE="
                                alt=""
                            />
                        </figure>
                        <figure class="avatar avatar-md dnd">
                            <img
                                src="https://media.istockphoto.com/photos/portrait-of-businessman-smiling-against-wall-picture-id878395336?b=1&k=20&m=878395336&s=170667a&w=0&h=E-jyj95oWVLjVMTCf6z7umTa4MTy9gIJyU0a9phsflE="
                                alt=""
                            />
                        </figure>
                        <figure class="avatar avatar-sm online-few-ago">
                            <img
                                src="https://media.istockphoto.com/photos/portrait-of-businessman-smiling-against-wall-picture-id878395336?b=1&k=20&m=878395336&s=170667a&w=0&h=E-jyj95oWVLjVMTCf6z7umTa4MTy9gIJyU0a9phsflE="
                                alt=""
                            />
                        </figure>
                    </div>

                    <pre class=""><code class="html">
            &lt;figure class="avatar avatar-xlg online">&lt;img src="..." alt="..."/&gt;&lt;/figure>
            &lt;figure class="avatar avatar-lg offline">&lt;img src="..." alt="..."/&gt;&lt;/figure>
            &lt;figure class="avatar avatar-md dnd">&lt;img src="..." alt="..."/&gt;&lt;/figure>
            &lt;figure class="avatar avatar-sm online-few-ago">&lt;img src="..." alt="..."/&gt;&lt;/figure>
            
                                </code></pre>

                    <div class="next-prev-page-option">
                        <a href="./button.html"><h4>Button &gt;</h4></a>
                        <a href="./alert.html"><h4>&lt; Alert</h4></a>
                    </div>
                </div>
            </main>
        </div>
    </body>
</html>
