<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="../css/documentation.css" />
        <link rel="stylesheet" href="../css/main.css" />
        <link rel="stylesheet" href="../css/componentStyle.css" />
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
        />
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.1.2/highlight.min.js"
            integrity="sha512-7t8APmYpzEsZP7CYoA7RfMPV9Bb+PJHa9x2WiUnDXZx3XHveuyWUtvNOexhkierl5flZ3tr92dP1mMS+SGlD+A=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
        ></script>
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.1.2/styles/agate.min.css"
            integrity="sha512-dtcZayDwnLWcHMKRgV5S5qk2T4+jz45M89ychxm+Rl9/bA/SiqD59y9ZNoMVDFo7Hnss/O8MruCqWLL5yDv/aQ=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
        />
        <script>
            hljs.initHighlightingOnLoad();
        </script>
        <title>nativeBase-ui</title>
    </head>
    <body>
        <div class="wrapper">
            <nav>
                <ul>
                    <a href="../index.html"><li>Home</li></a>
                    <a href="#"><li>Docs</li></a>
                </ul>
            </nav>
            <main class="documentation-main">
                <aside>
                    <ul>
                        <a href="./gettingStarted.html">Getting started</a>
                        <a href="./alert.html">Alert</a>
                        <a href="./avatar.html">Avatar</a>
                        <a href="./button.html">Button</a>
                        <a href="./badge.html">Badge</a>
                        <a href="./card.html">Card</a>
                        <a href="./image.html">Image</a>
                        <a href="./input.html">Input</a>
                    </ul>
                </aside>
                <div class="content">
                    <!-- Getting started -->
                    <h3 class="font-lg heading-color">Card</h3>
                    <p class="font-md">
                        Use custom button styles for actions in forms, dialogs, and more with support for multiple
                        sizes, states, and more.
                    </p>
                    <h4 class="font-md heading-color">Primary Buttons</h4>
                    <div class="primary-buttons">
                        <button class="btn btn-primary">Primary</button>
                        <button class="btn btn-secondary">Secondary</button>
                        <button class="btn btn-danger">Danger</button>
                        <button class="btn btn-success">Success</button>
                    </div>
                    <pre class=""><code class="html">
            &lt;button class="btn btn-primary">Primary&lt;/button>
            &lt;button class="btn btn-secondary">Secondary&lt;/button>
            &lt;button class="btn btn-danger">Danger&lt;/button>
            &lt;button class="btn btn-success">success&lt;/button>
                    </code></pre>

                    <h4 class="font-md heading-color">Outline Buttons</h4>
                    <div class="primary-buttons">
                        <button class="btn btn-outline-primary">Primary</button>
                        <button class="btn btn-outline-secondary">Secondary</button>
                        <button class="btn btn-outline-danger">Danger</button>
                        <button class="btn btn-outline-success">Success</button>
                    </div>
                    <pre class=""><code class="html">
            &lt;button class="btn btn-outline-primary">Primary&lt;/button>
            &lt;button class="btn btn-outline-secondary">Secondary&lt;/button>
            &lt;button class="btn btn-outline-danger">Danger&lt;/button>
            &lt;button class="btn btn-outline-success">success&lt;/button>
                                </code></pre>

                    <h4 class="font-md heading-color">Icon Buttons</h4>
                    <div class="primary-buttons">
                        <button class="btn btn-success btn-icon-cart">
                            <i class="fa fa-shopping-cart"></i>
                            <span>Add To Cart</span>
                        </button>
                        <button class="btn btn-danger btn-icon-delete">
                            <i class="fa fa-trash"></i>
                            <span>Delete</span>
                        </button>
                        <button class="btn btn-primary btn-icon-send">
                            <i class="fa fa-paper-plane"></i>
                            <span>Send</span>
                        </button>
                        <button class="btn btn-success btn-icon-save">
                            <i class="fa fa-check"></i>
                            <span>Save</span>
                        </button>
                    </div>
                    <pre class=""><code class="html">
            &lt;button class="btn btn-success btn-icon-cart">&lt;i class="fa fa-shopping-cart">&lt;/i>&lt;span>Add To Cart&lt;/span>&lt;/button>
            &lt;button class="btn btn-danger btn-icon-delete">&lt;i class="fa fa-trash">&lt;/i>&lt;span>Delete&lt;/span>&lt;/button>
            &lt;button class="btn btn-primary btn-icon-send">&lt;i class="fa fa-paper-plane">&lt;/i>&lt;span>Send&lt;/span>&lt;/button>
            &lt;button class="btn btn-success btn-icon-save">&lt;i class="fa fa-check">&lt;/i>&lt;span>Save&lt;/span>&lt;/button>

                                            </code></pre>
                    <div class="next-prev-page-option">
                        <a href="/views/image.html"><h4>Image &gt;</h4></a>
                        <a href="./badge.html"><h4>&lt; Badge</h4></a>
                    </div>
                </div>
            </main>
        </div>
    </body>
</html>
