<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="../css/documentation.css" />
        <link rel="stylesheet" href="../css/main.css" />
        <link rel="stylesheet" href="../css/componentStyle.css" />
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
        />
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.1.2/highlight.min.js"
            integrity="sha512-7t8APmYpzEsZP7CYoA7RfMPV9Bb+PJHa9x2WiUnDXZx3XHveuyWUtvNOexhkierl5flZ3tr92dP1mMS+SGlD+A=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
        ></script>
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.1.2/styles/agate.min.css"
            integrity="sha512-dtcZayDwnLWcHMKRgV5S5qk2T4+jz45M89ychxm+Rl9/bA/SiqD59y9ZNoMVDFo7Hnss/O8MruCqWLL5yDv/aQ=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
        />
        <script>
            hljs.initHighlightingOnLoad();
        </script>
        <title>nativeBase-ui</title>
    </head>
    <body>
        <div class="wrapper">
            <nav>
                <ul>
                    <a href="../index.html"><li>Home</li></a>
                    <a href="#"><li>Docs</li></a>
                </ul>
            </nav>
            <main class="documentation-main">
                <aside>
                    <ul>
                        <a href="./gettingStarted.html">Getting started</a>
                        <a href="./alert.html">Alert</a>
                        <a href="./avatar.html">Avatar</a>
                        <a href="./button.html">Button</a>
                        <a href="./badge.html">Badge</a>
                        <a href="./card.html">Card</a>
                        <a href="./image.html">Image</a>
                        <a href="./input.html">Input</a>
                    </ul>
                </aside>
                <div class="content">
                    <!-- Getting started -->
                    <h3 class="font-lg heading-color">Image</h3>
                    <p class="font-md">
                        Use custom button styles for actions in forms, dialogs, and more with support for multiple
                        sizes, states, and more.
                    </p>
                    <h4 class="font-md heading-color">Responsive image</h4>
                    <p class="font-md">use class img-responsive to make image responsive and take height and width of its parents by default</span>
                    <div class="responsive-img">
                        <img
                            class="img-responsive"
                            src="https://www.thecrazyprogrammer.com/wp-content/uploads/2016/12/How-to-Choose-Best-Laptop-for-Programming-in-2017.jpeg"
                            alt="img"
                        />
                    </div>

                    <pre class=""><code class="html">
            &lt;img class="img-responsive" src="...." alt="..."/>
            
                                </code>
                    </pre>

                    <h4 class="font-md heading-color">Rounded Image</h4>
                    <p class="font-md">Use class img-rounded to make image rounded and take height and width of its parent</span>
                    <div class="rounded-img">
                        <img
                            class="img-rounded"
                            src="https://www.thecrazyprogrammer.com/wp-content/uploads/2016/12/How-to-Choose-Best-Laptop-for-Programming-in-2017.jpeg"
                            alt="img"
                        />
                    </div>

                    <pre class=""><code class="html">
            &lt;img class="img-rounded" src="...." alt="..."/>
                                </code>
                    </pre>
                    <div class="next-prev-page-option">
                        <a href="/views/input.html"><h4>Input &gt;</h4></a>
                        <a href="/views/card.html"><h4>&lt; Card</h4></a>
                    </div>
                </div>
            </main>
        </div>
    </body>
</html>
