<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="../css/documentation.css" />
        <link rel="stylesheet" href="../css/main.css" />
        <link rel="stylesheet" href="../css/componentStyle.css" />
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
        />
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.1.2/highlight.min.js"
            integrity="sha512-7t8APmYpzEsZP7CYoA7RfMPV9Bb+PJHa9x2WiUnDXZx3XHveuyWUtvNOexhkierl5flZ3tr92dP1mMS+SGlD+A=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
        ></script>
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.1.2/styles/agate.min.css"
            integrity="sha512-dtcZayDwnLWcHMKRgV5S5qk2T4+jz45M89ychxm+Rl9/bA/SiqD59y9ZNoMVDFo7Hnss/O8MruCqWLL5yDv/aQ=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
        />
        <script>
            hljs.initHighlightingOnLoad();
        </script>
        <title>nativeBase-ui</title>
    </head>
    <body>
        <div class="wrapper">
            <nav>
                <ul>
                    <a href="../index.html"><li>Home</li></a>
                    <a href="#"><li>Docs</li></a>
                </ul>
            </nav>
            <main class="documentation-main">
                <aside>
                    <ul>
                        <a href="./gettingStarted.html">Getting started</a>
                        <a href="./alert.html">Alert</a>
                        <a href="./avatar.html">Avatar</a>
                        <a href="./button.html">Button</a>
                        <a href="./badge.html">Badge</a>
                        <a href="./card.html">Card</a>
                        <a href="./image.html">Image</a>
                        <a href="./input.html">Input</a>
                    </ul>
                </aside>
                <div class="content">
                    <!-- Getting started -->
                    <h3 class="font-lg heading-color">Input</h3>
                    <p class="font-md">
                        Use custom button styles for actions in forms, dialogs, and more with support for multiple
                        sizes, states, and more.
                    </p>
                    <h4 class="font-md heading-color">Standard Input</h4>
                    <p class="font-md">use class standard-input to make image responsive and take height and width of its parents by default</span>
                    <div class="form-input">
                        <input class="basic-input" placeholder="your input goes here...."/>
                        <select>
                            <option>options A</option>
                            <option>options B</option>
                            <option>options C</option>
                            <option>options D</option>
                            <option>options E</option>

                        </select>
                    </div>

                    <pre class=""><code class="html">
            &lt;input class="basic-input" placeholder="your input goes here...."/>
                                </code>
                    </pre>

                    <h4 class="font-md heading-color">Validations input</h4>
                    <p class="font-md">add class to your input to show respective input type conditionally</span>
                    <div class="form-input">
                        <input class="basic-input success-input" placeholder="your input goes here...."/>
                        <input class="basic-input warning-input" placeholder="your input goes here...."/>
                        <input class="basic-input error-input" placeholder="your input goes here...."/>
                    </div>

                    <pre class=""><code class="html">
            &lt;input class="basic-input success-input" placeholder="your input goes here...."/>
            &lt;input class="basic-input warning-input" placeholder="your input goes here...."/>
            &lt;input class="basic-input error-input" placeholder="your input goes here...."/>
            
                                </code>
                    </pre>
                    <div class="next-prev-page-option">
                        <a href="/views/image.html"><h4>Next &gt;</h4></a>
                        <a href="./image.html"><h4>&lt; Image</h4></a>
                    </div>
                </div>
            </main>
        </div>
    </body>
</html>
